on: [push, workflow_dispatch]

name: shared-daemon

jobs:
  start-poke:
    runs-on: nscloud
    steps:
      - name: Start nginx
        run: |
          docker run -d --network=host nginx
          docker ps
      - name: Poke nginx
        run: |
          curl http://localhost:80
  poke-existing:
    runs-on: nscloud
    steps:
      - name: Poke nginx
        run: |
          curl http://localhost:80
